body {
  font-family: Arial, sans-serif;
  background-color: #ffdd98;
  color: #cb9c00;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b99700;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: rgb(255, 255, 255);
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 20px;
}

.catalogo h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sabores {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

.sabores li {
  background-color: #fefefd;
  border: 1px solid #d4a265;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #f7ec87;
  font-size: 0.9rem;
}
