* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(85, 112, 233);
    background-attachment: fixed;
    color: black;
    margin: 0;
}
.cabecalho {

   padding: 2% 0% 15%; 
}
.cabecalho-menu {
    display: flex;
    gap: 80px;

}

.cabecalho-menu-links {
    font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: 600;
   color: white;
   text-decoration: none;

}

    

.título-destaque{
color: aqua;

}
.conteúdo{
    height: auto;
    flex-direction:column;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentação-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 40px;
    order: 2;
}

 .apresentação-conteudo-titulo{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
 }




